<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
        <script src="//unpkg.com/mithril/mithril.js"></script>
    </head>
    <body>
    </body>
    {% block content %}{% endblock %}
    <!--
         Well, you get here. And for that I'll tell you something to be either entertained or bored, your choice.

         You probably know the expression "Know thyself". I've been 35 years on this planet and until now I've found
         my "call". I do not believe there are such things but I do believe we can choose our future (part of it).
         So, I have this vision where I can conquer the galaxy. I say I because I¬¥ll be alone in the beginning but my
         hope is that there are crazy human beings who happens to want the same.
         It's not simple and most likely I won't make it but I want to play the game.

         Our existence is so ephemeral in comparison with most things in the Universe or Multiverse.
         It is also meaningless.
         You probably won't understand this BUT those two things are the fuel to my
         silly existence.

         "My life extends far beyond the limitations of me..."
    -->
</html>
