@charset "UTF-8";

body {
    display: flex;
    color: #333;
    font-family: monospace;
}

.main {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main .sidebar,
.main .workspace {
    display: flex;
    position: relative;
    height: 100%;
}
.main .workspace {
    width: calc(100% - 48ch);
    min-width: 5ch;
}

.main .sidebar {
    display: flex;
    flex-direction: column;
    max-width: 44ch;
    min-width: 44ch;
}

pre {
    display: block;
    font-size: 10pt;
    font-family: Monospace;
    letter-spacing: 0px;
}
.main .sidebar pre:nth-child(1) {
    line-height: 8pt;
}
.main .sidebar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}
.main .sidebar ul a {
    text-decoration: none;
}
.main .sidebar ul a:hover,
.main .sidebar ul a:link,
.main .sidebar ul a:visited,
.main .sidebar ul a:active {
    color: #333;
}

.sidebar .container {
    margin: auto 0;
}

.workspace .content {
    margin: auto;
}

.particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.horizontal-flex {
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    cursor: pointer;
}
