{% extends "layouts/default.html" %}
{% block title %}Asgan{% endblock %}
{% block content %}
<div class="main" id="main">
    <div class="sidebar" id="sidebar">
        <div class="container">
            <pre>
 █████╗ ███████╗ ██████╗  █████╗ ███╗   ██╗
██╔══██╗██╔════╝██╔════╝ ██╔══██╗████╗  ██║
███████║███████╗██║  ███╗███████║██╔██╗ ██║
██╔══██║╚════██║██║   ██║██╔══██║██║╚██╗██║
██║  ██║███████║╚██████╔╝██║  ██║██║ ╚████║
╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═══╝
            </pre>
            <br>
            <pre>            hey there, stranger

            </pre>
            <pre>this is luis ignacio, a human physicist
fascinated by dynamics of the spacetime
continuum.

            </pre>
            <pre>                don’t panic.



            </pre>

            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/thelastinuit">linkedin</a>
                </li>
                <li>
                    <a href="https://github.com/thelastinuit">github</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="workspace" id="workspace">
        <div id="particles-js" class="particles-js"></div>
        <div class="content" id="content">
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
 var root = document.getElementById("content");
 var Main = {
     view: function() {
         return m("content", [
             m("pre", {class: 'quote-post', id: 'quote-post'}, "It was indeed an epic mistake coming down from the trees."),
             m("div", {class: 'horizontal-flex'}, [
                 m("button", { onclick: function() { alert('works') } }, "quote me"),
                 m("button", { onclick: function() { alert('works') } }, "show me")
             ])
         ])
     }
 }

 m.mount(root, Main);



 /* Satellities simulation*/
 particlesJS("particles-js", {
     "particles": {
         "number": {
             "value": 380,
             "density": {
                 "enable": false,
                 "value_area": 800
             }
         },
         "color": {
             "value": "#333"
         },
         "shape": {
             "type": "square",
             "stroke": {
                 "width": 0,
                 "color": "#000000"
             },
             "polygon": {
                 "nb_sides": 5
             },
             "image": {
                 "src": "img/github.svg",
                 "width": 100,
                 "height": 100
             }
         },
         "opacity": {
             "value": 0.2,
             "random": true,
             "anim": {
                 "enable": false,
                 "speed": 10,
                 "opacity_min": 0.1,
                 "sync": true
             }
         },
         "size": {
             "value": 1,
             "random": true,
             "anim": {
                 "enable": false,
                 "speed": 1,
                 "size_min": 0.1,
                 "sync": false
             }
         },
         "line_linked": {
             "enable": true,
             "distance": 37,
             "color": "#666",
             "opacity": 0.1,
             "width": 1
         },
         "move": {
             "enable": true,
             "speed": 2,
             "direction": "none",
             "random": true,
             "straight": false,
             "out_mode": "out",
             "bounce": true,
             "attract": {
                 "enable": true,
                 "rotateX": 600,
                 "rotateY": 120
             }
         }
     },
     "interactivity": {
         "detect_on": "canvas",
         "events": {
             "onhover": {
                 "enable": true,
                 "mode": "grab"
             },
             "onclick": {
                 "enable": true,
                 "mode": "push"
             },
             "resize": true
         },
         "modes": {
             "grab": {
                 "distance": 140,
                 "line_linked": {
                     "opacity": 1
                 }
             },
             "bubble": {
                 "distance": 400,
                 "size": 40,
                 "duration": 2,
                 "opacity": 8,
                 "speed": 3
             },
             "repulse": {
                 "distance": 200,
                 "duration": 0.4
             },
             "push": {
                 "particles_nb": 4
             },
             "remove": {
                 "particles_nb": 2
             }
         }
     },
     "retina_detect": true
 });
</script>
{% endblock %}
